[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglpainter = "~=2.0"
gcode-machine = "~=1.0"
grbl-streamer = "~=2.0"
scipy = "*"
svgwrite = "*"
pillow = "*"
pyqt6 = "*"

[dev-packages]

[requires]
python_version = "3.12"
